PORT=3000
ALLOWED_ORIGIN=http://localhost:3000,https://ваш-домен.ru

# URL Yandex Cloud Function (Send-to-telegram)
TG_FUNC_URL=https://functions.yandexcloud.net/xxxx
TG_FUNC_TOKEN=ваш_секретный_токен

# Кому приходит заявка в Telegram (ваш номер)
NOTIFY_PHONE=+79288509404
